#meeting-progress {
    width: 100%;
    height: 3rem
}
#time {
    font-size: 2rem;
    height: 3rem;
}
#start {
    font-size: 2rem;
    height: 3rem;
}
#message {
    font-size: 3rem;
}
#container {
    margin-top: 5%;
}
.block {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#new-page {
    width: 32px;
    height: 32px;
}